<h2>Proyectos</h2>

<div class="proyecto">
    <img src="" alt="miniatura-proyecto">
    <div class="contenido-proy">
        <h3>titulo proyecto</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque facere veniam voluptate laudantium ratione atque ducimus praesentium possimus quam fugiat! Esse molestiae consequatur eius eligendi praesentium impedit quisquam quaerat dolorem.</p>
    </div>
</div>

<div class="proyecto">
    <img src="" alt="miniatura-proyecto">
    <div class="contenido-proy">
        <h3>titulo proyecto</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque facere veniam voluptate laudantium ratione atque ducimus praesentium possimus quam fugiat! Esse molestiae consequatur eius eligendi praesentium impedit quisquam quaerat dolorem.</p>
    </div>
</div>

<div class="proyecto">
    <img src="" alt="miniatura-proyecto">
    <div class="contenido-proy">
        <h3>titulo proyecto</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque facere veniam voluptate laudantium ratione atque ducimus praesentium possimus quam fugiat! Esse molestiae consequatur eius eligendi praesentium impedit quisquam quaerat dolorem.</p>
    </div>
</div>