<h2>Educacion</h2>

<div class="titulos">
    <img src="" alt="logo-instituto">
    <div class="contenido-edu">
        <h3>titulo obtenido</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, fugiat. Labore facilis placeat fuga amet quos neque laboriosam reiciendis quod quis quasi? Praesentium maiores facere consectetur id debitis temporibus dignissimos.</p>
    </div>
</div>
<div class="titulos">
    <img src="" alt="logo-instituto">
    <div class="contenido-edu">
        <h3>titulo obtenido</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, fugiat. Labore facilis placeat fuga amet quos neque laboriosam reiciendis quod quis quasi? Praesentium maiores facere consectetur id debitis temporibus dignissimos.</p>
    </div>
</div>
<div class="titulos">
    <img src="" alt="logo-instituto">
    <div class="contenido-edu">
        <h3>titulo obtenido</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, fugiat. Labore facilis placeat fuga amet quos neque laboriosam reiciendis quod quis quasi? Praesentium maiores facere consectetur id debitis temporibus dignissimos.</p>
    </div>
</div>
