app-perfil{
    display: grid;
    grid-row: 1;
    width: 25%;
    height: fit-content;
    padding: 20px;
    text-align: center;
    justify-content: center;
    bottom: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

app-acercade{
    margin-top: 50px;
    width: 50%;
}