<div class="container">
    <h2>Experiencia Laboral</h2>

    <div class="experiencia">
        <img src="" alt="logo empresa">
        <div class="contenido-exp">
            <h3>Titulo Puesto</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium fuga soluta ullam. Quos ullam nemo, voluptas velit vero ratione eveniet, quam magnam magni id eligendi voluptatibus, facere a placeat itaque.</p>
        </div>
    </div>

    <div class="experiencia">
        <img src="" alt="logo empresa">
        <div class="contenido-exp">
            <h3>Titulo Puesto</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium fuga soluta ullam. Quos ullam nemo, voluptas velit vero ratione eveniet, quam magnam magni id eligendi voluptatibus, facere a placeat itaque.</p>
        </div>
    </div>

    <div class="experiencia">
        <img src="" alt="logo empresa">
        <div class="contenido-exp">
            <h3>Titulo Puesto</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium fuga soluta ullam. Quos ullam nemo, voluptas velit vero ratione eveniet, quam magnam magni id eligendi voluptatibus, facere a placeat itaque.</p>
        </div>
    </div>

</div>